# Your local changes
.env
node_modules
# Logs
logs
*.log
npm-debug.log
# (and so on...)
# Remote content starts here
.env.*
!.env.example
# (and so on...)
# Python venv
.venv/
venv/
ml-service/.venv/
__pycache__/

